{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>여따버려</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <!-- Favicon -->
    <link href="{% static 'img/base/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    {# SGIS api #}
    <script type="text/javascript" src="https://sgisapi.kostat.go.kr/OpenAPI3/auth/javascriptAuth?consumer_key={{ SGIS_CONSUMER_KEY }}"></script>
</head>

<body id="body">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
          <a href="{% url 'map:main' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5" id="navbar-brand-img-btn">
              <img src="{% static 'img/base/YTBL_logo.png' %}" alt="여따버려!">
          </a>
      </nav>
    </header>
    <!-- Navbar End -->

    <!-- Begin page content -->
    <main>
      <!-- Map Start -->
      <div class="container-fluid bg-dark px-0" id="main-root-wrapper">
        <div id="content-wrapper">
          {% block content_area %}
          {% endblock %}
        </div>
      </div>
      <!-- Map End -->
    </main>

{#    <!-- Copyright Start -->#}
{#    <footer class="mt-auto py-2 bg-light footer fixed-bottom">#}
{#      <div class="text-end pe-3">YTBL, All Right Reserved.</div>#}
{#    </footer>#}
{#    <!-- Copyright End -->#}

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
{#    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>#}
{#    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>#}
{#    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>#}
{#    <script src="{% static 'lib/parallax/parallax.min.js' %}"></script>#}
{#    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>#}
{#    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>#}

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/utils.js' %}"></script>
    <script>
      const vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty('--vh', `${vh}px`);

      const navbarVh = document.body.querySelector('header').offsetHeight * 0.01;
      document.querySelector('main').style.setProperty('--vh', `${navbarVh}px`);

      const mainVh = document.querySelector('#main-root-wrapper').offsetHeight;
      document.querySelector('#search-btn-wrapper').style.setProperty('--mainH', `${mainVh}px`);
    </script>

    <!-- Extra Javascript -->
    {% block extra_script %}
    {% endblock %}
</body>

</html>
